.main-hero-left::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -95px;
  transform: translateY(-50%);
  width: 48px;
  height: 1px;
  background-color: var(--color-textWhite);
  opacity: 0.1;
}

.home-pr-card {
  /* clip-path: polygon(0 0, 70% 0, 70% 100%, 0% 100%); */
}

.main-hero-right::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -95px;
  transform: translateY(-50%);
  width: 48px;
  height: 1px;
  background-color: var(--color-textWhite);
  opacity: 0.1;
}
.header-filter {
  position: absolute;
  height: 90%;
  inset: 0;
  backdrop-filter: blur(4px);
  z-index: -1;
}

.main-circle-dots {
  animation: dotRotation 20s linear infinite;
}

.news-info-block {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: clip-path 0.6s var(--ease-in-out);
}

.partner-inner-logo {
  /* mimic Figma drop + inner shadow stack */
  filter: drop-shadow(1px -1px 1px rgba(255, 255, 255, 0.72))
    drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.12));
}

@keyframes dotRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .news-card-el:hover .news-info-block {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 0.8s var(--ease-in-out);
   
  }
}

@media screen and (max-width: 1023px) {
  .main-hero-left::before {
    content: "";
    position: absolute;
    top: unset;
    bottom: -65%;
    right: 50%;
    transform: translate(0%, -50%);
    width: 1px;
    height: 38px;
    background-color: var(--color-textWhite);
    opacity: 0.1;
  }

  .main-hero-right::after {
    content: "";
    position: absolute;
    top: -45%;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 38px;
    background-color: var(--color-textWhite);
    opacity: 0.1;
  }
  .home-pr-card {
    clip-path: none;
  }
}
/* @media screen and (max-width: 560px) {
  .footer-bottom::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
    height: 1px;
    background-color: var(--color-textWhite);
    opacity: 0.1;
  }
} */
